@import 'null';


*{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	grid-template: auto 1fr auto / 1fr;
	grid-template-areas: 'header' 'main' ' footer';
}

[class*=__container]{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

// ===================================================================

.header {
	grid-area: header;
	padding: 30px 0;
	background-color: #34495e;
	margin: 0 0 50px;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 26px;
		text-transform: uppercase;
		color: #fff;
	}
}

// ===================================================

.main {
	grid-area: main;
	margin: 0 0 50px;
}
.cards {

	&__container {
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 50px 20px;
	}

	&__item {
	}
}
.item {

	&__img {
		position: relative;
		padding: 0 0 80%;
		margin: 0 0 30px;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__block-text {
		&>*:not(:last-child){
			margin: 0 0 15px;
		}
	}

	&__suptitle {
		font-size: 14px;
		text-transform: uppercase;
		color: grey;
		line-height: 130%;
	}

	&__title {
		font-size: 26px;
		font-weight: 600;
		line-height: 130%;
	}

	&__text {
		font-size: 20px;
		line-height: 130%;
	}

	&__btn {
		display: inline-block;
		color: #fff;
		font-size: 20px;
		line-height: 130%;
		padding: 16px 42px;
		border-radius: 50px;
		background-color: blueviolet;
	}
}

// ==================================================

.footer {
	grid-area: footer;
	padding: 30px 0;
	background-color: #34495e;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 26px;
		text-transform: uppercase;
		color: #fff;
	}
}
